/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


/*body{*/
/*  background-image: url("assets/img/m.png");*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*}*/
