<h1>Posts GET Request</h1>


<div class="container">

  <div class="row">

<!--    using *ngFor to loop through the array of posts -- let p of posts --- post comes from the ts -- posts: PostHttpClient[] = [];-->
    <div class="card card-body" *ngFor="let p of posts">

      <h5 class="card-title">{{ p.title }}</h5>
      <p class="card-text"> {{ p.body }}</p>

    </div>

  </div>



</div>































































