



  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img id="logo" src="../assets/img/musiclogo.png" alt="" height="40px" width="40px">
    <a class="navbar-brand" href="https://www.billboard.com/charts/rock-songs" target="_blank">My Favorite Bands</a>


    <button (click)="toggleForm()" class="btn btn-dark">Add Album</button>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="form-inline my-2 my-lg-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->

  </nav>


<div class="container" [ngStyle]="currentStyle">


  <div  class="card card-body" *ngIf="showForm">
       <form #albumForm="ngForm" (ngSubmit)="onSubmit(albumForm)">

      <div class="form-group">
        <label>Title:</label>
        <input
          type="text"
          [(ngModel)]="album.title"
          name = "title"
          class="form-control"
          [ngClass]="{'is-invalid': albumTitle.errors && albumTitle.touched}"
          #albumTitle="ngModel"
          required
          minlength="3"
        >

        <div [hidden]="!albumTitle.errors?.required" class="invalid-feedback">
          Album Title Required
        </div>

        <div [hidden]="!albumTitle.errors?.minlength" class="invalid-feedback">
          Must be at least 3 characters
        </div>

        <label>Artist:</label>
        <input
          type="text"
          [(ngModel)]="album.artist"
          name = "artist"
          class="form-control"
          [ngClass]="{'is-invalid': albumArtist.errors && albumArtist.touched}"
          #albumArtist="ngModel"
          required
          minlength="3"
        >

        <div [hidden]="!albumArtist.errors?.required" class="invalid-feedback">
          Album Title Required
        </div>

        <div [hidden]="!albumArtist.errors?.minlength" class="invalid-feedback">
          Must be at least 3 characters
        </div>

        <label>Songs:</label>
        <input type="text" [(ngModel)]="album.songs" name = "songs" class="form-control">

        <label>Favorite:</label>
        <input type="text" [(ngModel)]="album.favorite" name = "favorite" class="form-control">

        <label>Released:</label>
        <input
          type="text"
          [(ngModel)]="album.year"
          name = "year"
          class="form-control"
          [ngClass]="{'is-invalid': albumYear.errors && albumYear.touched}"
          #albumYear="ngModel"
          required
          minlength="4"
        >

        <div [hidden]="!albumYear.errors?.required" class="invalid-feedback">
          Album Title Required
        </div>

        <div [hidden]="!albumYear.errors?.minlength" class="invalid-feedback">
          Must be at least 4 characters
        </div>

        <label>Genre:</label>
        <input type="text" [(ngModel)]="album.genre" name = "genre" class="form-control">

        <label>Albums sold:</label>
        <input type="text" [(ngModel)]="album.units" name = "units" class="form-control">

      </div>
      <button [disabled]="!albumForm.form.valid" (click)="addAlbum()" class="btn btn-dark">Add Your Favorite!</button>
    </form>
  </div>




  <ul class="list-unstyled">
    <li class="card card-body mb-3" *ngFor="let a of albums">
      <div class="row">
        <div class="col-sm-3">
          <img [src]="a.cover" alt="rock on!" height="500px" width="300px" class="img-fluid" >
        </div>

        <div class="col-sm-9">
          <h2>{{ a.title | uppercase }}

            <button (click)="toggleInfo(a)" class="btn btn-outline-dark btn-sm ml-3">
              <i [ngClass]="a.hide ? 'fa fa-minus' : 'fa fa-plus-square'" ></i>
            </button>

          </h2>
          <ul class="list-group">

            <li [ngStyle]="cardStyle" class="list-group-item">Artist: {{ a.artist }}</li>
          </ul>

          <ul *ngIf="a.hide" class="list-group">

            <li [ngStyle]="cardStyle" class="list-group-item">Songs: {{ a.songs }}</li>
            <li [ngStyle]="cardStyle" class="list-group-item">My favorite song: {{ a.favorite }}</li>
            <li [ngStyle]="cardStyle" class="list-group-item">Released: {{ a.year | date: "yyyy" }}</li>
            <li [ngStyle]="cardStyle" class="list-group-item">Genre: {{ a.genre }}</li>
            <li [ngStyle]="cardStyle" class="list-group-item">Albums Sold: {{ a.units | number }}</li>
          </ul>



        </div>
      </div>
    </li>


  </ul>


</div>























































































































