/*body{*/
/*  background-image: url("../assets/img/m.png");*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*}*/

#logo{
  border-radius: 50%;

}

.container{

  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}

h2{
  text-decoration: underline;
  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}

.navbar-brand{
  color: white;
  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'New Tegomin', serif;
}

ul{
  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}

.btn{
  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'New Tegomin', serif;
}
